@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using Sandbox.Diagnostics;
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using System.Linq;
@inherits PanelComponent
<root>
	<div class="left">
		<h1>LOBBY-LIST</h1>
		<div class="inner">
			<div class="button" onclick=@CreateLobby>
				<div class="title">Create Lobby</div>
			</div>
			@if (IsRefreshing)
			{
				<div>Refreshing please wait...</div>
			}
			else if (List.Count == 0)
			{
				<div>No lobbies were found</div>
			}
			else
			{
				@foreach (var lobby in List)
				{
					<div class="button" onclick=@( () => OpenLobby( lobby ) )>
						<div class="title">
							@lobby.Name
						</div>	
						<div class="name">
							@lobby.Members / @lobby.MaxMembers
						</div>
					</div>
				}
			}
		</div>
		
	</div>
	<div class="MainText">
		<div class="normal">DEAD</div>
		<div class="red">4</div>
		<div class="normal">LEFT</div>
	</div>
	<div class="themeholder">
		<div class="DropDownText">STARTING GUN</div>
	<DropDown @ref=Themes></DropDown>
	</div>
	
	<div class="bottomright">
			<div class="notes">
				<div class="notesbutton" onclick=@ToggleMaps>
					<div class="title">Select Map</div>
				</div>
			</div>
	</div>
	<div class="notespopup @(ShowNotes ? "" : "hide")">
		<h2>Notes:</h2>
		<div class="notes">Currently viewmodels semi broken</div>
		<p></p>
		<div class="notes">You may recieve clipping issues</div>
		<p></p>
		<div class="notes">Tony says he is working on them</div>
		<p></p>
		<img class="img" src="https://i.imgur.com/fDuWhDN.jpeg" alt="Tony" width="200" height="200">
		<div class="closebutton" onclick=@(() => ShowNotes = false)>
			<div class="title">Close</div>
		</div>
	</div>
	
		<div class="mapselect @(ShowMaps ? "" : "hide")">
			<PackageList ShowFilters="@true" Query="type:map sort:trending" OnSelected="@OnPackageSelected" Take=@(50)></PackageList>
		</div>

	
</root>


@code
{
	DropDown Themes { get; set; }
	[Property] public SceneFile GameScene { get; set; }
	private bool IsRefreshing { get; set; }
	private List<LobbyInformation> List { get; set; } = new();
	[Property] public bool ShowNotes { get; set; }
	[Property] public bool ShowMaps { get; set; } = false;
	public long HighScore { get; private set; } = 0;
	[Property] public Manager manager { get; set; }

		protected override void OnEnabled()
	{
		base.OnEnabled();
		
		_ = RefreshLobbyList();
	}

	
	protected override void OnTreeFirstBuilt()
	{
		//base.OnTreeFirstBuilt();

		Themes.Options = new()
		{
			new Option("MP5", 1),
			new Option("USP", 2),
		};
		
		Themes.Selected = Themes.Options.First();
		
	}

    
        private async Task RefreshLobbyList()
	{
		while ( true )
		{
			IsRefreshing = true;
			StateHasChanged();

			List = await Networking.QueryLobbies();

			IsRefreshing = false;
			StateHasChanged();

			await Task.DelayRealtimeSeconds( 5f );
		}
	}

    void OpenLobby( LobbyInformation lobby )
    {
        GameNetworkSystem.Connect( lobby.LobbyId );
    }
	
	void CreateLobby()
	{
	GameManager.ActiveScene.Load(GameScene);
	FileSystem.Data.WriteAllText("player.txt", Themes.Selected.Value.ToString());
	}
	protected override void OnUpdate()
	{
		
	}
	void Credits()
	{
		Log.Info("Credits");
	}

	  string IsMe(Sandbox.Services.Leaderboards.Entry entry)
    {
        return entry.Me ? "me" : "";
    }


	string AvatarTexture(Sandbox.Services.Leaderboards.Entry entry)
    {
        return $"avatar:{entry.SteamId}";
    }

	void OnPackageSelected(Package package)
	{
		LaunchArguments.Map = package.FullIdent;
		GameManager.ActiveScene.Load(GameScene);
	}
	void ToggleMaps()
	{
		ShowMaps = !ShowMaps;
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now, ShowMaps);
}

